.botao {
    background-color: var(--amarelo);
    border: none;
    box-shadow: 10px 10px 30px #FFCB473D;

    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;

    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
}